.Wine {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-left: 4px solid #8a1e1e;
  background-color: #efefef50;
  align-items: center;
  justify-content: center;
}

.Wine:hover {
  border-bottom: 3px solid #8a1e1ebe;
  border-right: 3px solid #8a1e1ebe;
}

.toggle {
  border-bottom: 3px solid #8a1e1e;
  border-right: 3px solid #8a1e1e;
}