.Wine {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-left: 4px solid #8a1e1e;
  background-color: #efefef50;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.Wine:hover {
  font-size: 1.1em;
}

.toggle {
  background: #8a1e1e10;
}